{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block page %}CTRL Freaks Fitness{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/home.html">Workouts</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="parallax-container">
    <!--<div class="parallax"><img src="./images/pexels-ella-olsson-1640777.jpg" class="responsive-img"></div>-->
</div>

<div class="section white">
    <div class="container">
      <h2 class="header center">Ctrl Freaks Fitness</h2>
      <p class="grey-text text-darken-3 lighten-3">We provide carefully selected categorized workouts for you. Remix the workouts until a desired shuffle is achieved and build the body of your dreams.</p>

      <div class="container center">      
          <a href="home.html" class="waves-effect waves-light btn-large">Begin</a>                  
      </div>
    </div>
  </div>
  <div class="parallax-container" >
    <!--<div class="parallax" ><img src="./images/pexels-karolina-grabowska-4498606.jpg" class="responsive-img"></div>-->
  </div>

{% endblock %}