{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block page %}CTRL Freaks Fitness{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="home.html">Workouts</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<section>
  <div class="parallax-container1">
    <div class="parallax">
      <h1>Your Fitness Journey Begins Now</h1>
    </div>
  </div>

  <h2>CTRL Freaks Fitness</h2>
  <p class="grey-text text-darken-3 lighten-3">We provide carefully selected categorized workouts for you. Remix the
    workouts until a desired shuffle is achieved and build the body of your dreams.</p>
    <a href="/begin" class="waves-effect waves-light btn-large">Begin</a> 

  <div class="parallax-container2">
    <div class="parallax">
      <h1></h1>
    </div>
  </div>
</section>

{% endblock %}